* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.index-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(59, 59, 58);
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

nav div {
    margin: 0 25px;
    font-weight: bold;
    color: snow;
}

nav a {
    border: 1px solid rgb(170, 168, 168);
    padding: 7px;
    background-color: rgb(219, 231, 54);
    color: rgb(143, 142, 142);
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin-right: 7px;
}

nav a:hover {
    background-color: snow;
    transition: 0.3s;
}

.home-header {
    background-color: rgb(219, 231, 54);
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    font-size: 2rem;
}

.slogan {
    padding: 25px;
    background-color: rgb(94, 87, 86);
    flex-grow: 7;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.5rem;
    color: snow;
    text-align: center;
}

/*///// prefs //////*/

.prefs-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.prefs-navbar {
    flex-grow: 0.5;
}

.prefs-header {
    flex-grow: 0.5;
    text-align: center;
    background-color: rgb(219, 231, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    background-color:  rgb(94, 87, 86);
    flex-grow: 12;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

form .prefrence {
    margin: 20px 0;
    color: snow;
}

/*///////// map////////// */

.map-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.map-navbar {
    flex-grow: 0.5;
}

.map-header {
    flex-grow: 0.5;
    text-align: center;
    background-color: rgb(219, 231, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-section {
    background-color: rgb(109, 90, 87);
    flex-grow: 12;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.map-section img {
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.my-location {
    width: 50px;
    height: auto;
    background-color: snow;
    border-radius: 50%;
}

.places-list {
    text-align: center;
    border-collapse: collapse;
}

.places-list button {
    background-color: red;
    color: snow;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.places-list button:hover {
    background-color: rgb(207, 13, 13);
    transition: 0.3s;
}

.places-list tr th {
    background-color: #e9e98f;
}


td, th {
    border: 2px solid rgb(66, 65, 65);
    max-width: 200px;
    min-width: 70px;
    height: 60px;
    /* border-radius: 4px; */
}

.places-list tr {
    background-color: #DBE736;
}

.places-list tr:hover {
    background-color: rgb(241, 241, 180);
    transition: 0.3s;
}